@import url('https://fonts.googleapis.com/css2? family= PT+Sans+Caption & display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body {

    font-size: 100%;
    background: linear-gradient(68.15deg, #3FBF6C 16.62%, #3FBF6C 85.61%);
}

.cabecalho {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item {
    font-family: sans-serif;
    color: #fff2E7;
    font-weight: 400;
    font-size: 18px;
    
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2E7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    }

.conteudo-principal-escrito-titulo {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #fff2E7;
    }


    .conteudo-principal-escrito-subtitulo {
        font-family: 'sarala';
        font-weight: 400;
        font-size: 24px;
        color: #103100;
    }
    
    .conteudo-principal-escrito-botao {
        background-color: #ECD6C4;
        width:180px;
        height: 60px;
        border: topcolor;  
        box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
        border-radius: 20px;
        font-family: 'sarala', sans-serif;
        font-weight: 24px;
        font-size: 18px;
        color: #2F2325;
    }


   .conteudo-principal-escrito-botao:hover {
       background-color: rgba(236, 214, 196, 0.53) ;
   }

    .conteudo-principal-imagem {
        height: 430px;

    }

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {

    border-top: 0.4px solid #103100;
    padding-top: 48px;
    font-family: 'rigtheous';
    font-size: 24px;
    font-weight: 400;
    color: #fff2E7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'sarala, sans-serif';
    font-weight: 300;
    font-size: 18px;
    color: #103100;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #fff2E7;
    }

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}

.quemsomos {
    background-color: #ECD6C4;
    width: 560;
    margin: center;
    padding:  10px;
    box-shadow: #103100;
    font-size: 18px; color: rgb(2, 77, 2);

}

a:hover {
    color: white;
    }

.texto1 {
    font-size: 1em;
    color: rgb(2, 77, 2);
    padding: 10px; 
}

.rodape1 {
    font-size: 1em;
    font: helvetica;
    color: rgb(2, 77, 2)
}